# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

.project
.cproject
.settings
bin
*.tty
*.cfg

# pjproject
src/lib/pjproject/build.mak
src/lib/pjproject/build/cc-auto.mak
src/lib/pjproject/build/os-auto.mak
src/lib/pjproject/config.log
src/lib/pjproject/config.status
src/lib/pjproject/pjlib-util/bin
src/lib/pjproject/pjlib-util/build
src/lib/pjproject/pjlib/bin
src/lib/pjproject/pjlib/build
src/lib/pjproject/pjlib/include/pj
src/lib/pjproject/pjmedia/bin
src/lib/pjproject/pjmedia/build
src/lib/pjproject/pjmedia/include
src/lib/pjproject/pjnath/bin
src/lib/pjproject/pjnath/build
src/lib/pjproject/pjsip-apps/bin
src/lib/pjproject/pjsip-apps/build
src/lib/pjproject/pjsip/bin
src/lib/pjproject/pjsip/build
src/lib/pjproject/pjsip/include/pjsip
src/lib/pjproject/third_party/build
src/lib/spandsp/tests/.deps
src/lib/spandsp/src/.deps
src/lib/spandsp/spandsp-sim/.deps

# spandsp
src/lib/spandsp/Makefile
src/lib/spandsp/config.log
src/lib/spandsp/config.status
src/lib/spandsp/doc/Makefile
src/lib/spandsp/doc/doxygen
src/lib/spandsp/libtool
src/lib/spandsp/spandsp-sim/Makefile
src/lib/spandsp/spandsp.pc
src/lib/spandsp/src/.libs
src/lib/spandsp/src/Makefile
src/lib/spandsp/src/at_interpreter_dictionary.h
src/lib/spandsp/src/cielab_luts.h
src/lib/spandsp/src/config.h
src/lib/spandsp/src/make_at_dictionary
src/lib/spandsp/src/make_cielab_luts
src/lib/spandsp/src/make_math_fixed_tables
src/lib/spandsp/src/make_modem_filter
src/lib/spandsp/src/make_t43_gray_code_tables
src/lib/spandsp/src/math_fixed_tables.h
src/lib/spandsp/src/spandsp.h
src/lib/spandsp/src/stamp-h1
src/lib/spandsp/src/t43_gray_code_tables.h
src/lib/spandsp/test-data/Makefile
src/lib/spandsp/test-data/etsi/Makefile
src/lib/spandsp/test-data/etsi/fax/.deps
src/lib/spandsp/test-data/etsi/fax/Makefile
src/lib/spandsp/test-data/itu/Makefile
src/lib/spandsp/test-data/itu/fax/.deps
src/lib/spandsp/test-data/itu/fax/Makefile
src/lib/spandsp/test-data/local/Makefile
src/lib/spandsp/tests/Makefile
